/* :root {
  --myLigth: #E0E1DD;
  --myDark: #0D1B2A;
  --ligthBlue: #778DA9;
  --mediumBlue: #415A77;
  --darkBlue: #1B263B;
} */

.main {
  background-color: green;
}

.Tab{
  background-color: cadetblue;
}

.title {
  color: #f0f0f0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

@media (min-width: 500px) {
  .title {
    font-size: 3rem;
  }
}

@media (min-width: 800px) {
  .title {
    font-size: 4rem;
  }
}